adminAuth: {
       type: "credentials",
       users: [{
           username: "{{ user }}",
           password: "{{ the_password.container.Output | trim }}",
           permissions: "*"
       }]
   },