        page: {
            title: "i40sys flows"
        },
        header: {
            title: "Industry 4.0 Systems - Flows",
            image: "", // or null to remove image
            url: "http://nodered.org" // optional url to make the header text/image a link to this url
        },